<ul
  class="w-full flex justify-center items-center pt-4 pb-6 gap-6 bg-neutral-800 text-neutral-100 text-xl"
>
  <li>
    <a
      class="hover:text-white hover:underline-offset-1 hover:underline duration-300"
      routerLink="gallery"
      >Gallery</a
    >
  </li>
  <li>
    <a
      class="hover:text-white hover:underline-offset-1 hover:underline duration-300"
      routerLink="pokemon/1"
      >Pokemon 1</a
    >
  </li>
  <li>
    <a
      class="hover:text-white hover:underline-offset-1 hover:underline duration-300"
      routerLink="not-found"
      >Not Found</a
    >
  </li>
</ul>
