<div class="w-full flex justify-center py-3">
  <div
    class="w-full max-w-[75%] flex bg-white justify-between rounded-md py-2 px-3"
  >
    <input
      class="text-base text-neutral-800 w-full bg-transparent outline-none px-2"
      placeholder="Search for Pokemon"
      type="text"
    />
    <div class="w-fit flex gap-2">
      <button class="text-sm font-semibold px-4 py-2 rounded-md bg-green-800">
        search
      </button>
      <button class="text-sm font-semibold px-4 py-2 rounded-md bg-red-800">
        discard
      </button>
    </div>
  </div>
</div>
