<a
  class="w-72 flex flex-col gap-4 rounded-md bg-neutral-700 shadow hover:shadow-lg hover:rounded-2xl cursor-pointer duration-300 hover:-translate-y-1 overflow-hidden"
  [routerLink]="'/pokemon/' + pokemon.id"
  #container
>
  <img
    [alt]="'default' + pokemon.name + 'visual'"
    class="w-[288px] h-[288px]"
    [ngSrc]="pokemon.sprites.front_default"
    loading="lazy"
    width="288"
    height="288"
    priority="false"
  />
  <div class="w-full flex bg-neutral-500 rounded-md p-6 justify-center text-xl">
    <span>{{ pokemon.name | titlecase }}</span>
  </div>
</a>
